<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../sass/style.css" />
	</head>
	<style>
		.fixed {
			width: 100%;
			position: fixed;
			z-index: 99999;
			margin-top: 0;
		}
	</style>
	<body>
		<!-- 導覽 header -->
		<div class="fixed">
			<div class="header">
				<img src="../picture/logo.png" alt="" />
				<div class="nav-bar">
					<ul>
						<li><a href="#">首頁</a></li>
						<li><a href="#">服務項目</a></li>
						<li class="nosee">
							<a href="">產品目錄</a>
							<ul>
								<li><a href="">桌子</a></li>
								<li><a href="">椅子</a></li>
								<li><a href="">床鋪</a></li>
							</ul>
						</li>
						<li><a href="#">實際案例</a></li>
						<li><a href="#">常見問題</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div style="height: 60px"></div>
		<!-- 進入主畫面  container intro-->
		<div class="container-intro">
			<div class="bgc"></div>
			<div class="main"><img src="/picture/intro.jpg" alt="" /></div>
			<div class="right"></div>
			<div class="left">
				<div class="text1 text-box">手做的每份堅持</div>
				<div class="text2 text-box">只為了</div>
				<div class="text3 text-box">「把感受，變成感動」</div>
			</div>
		</div>
		<!-- 關於我們  contain about-->
		<div class="container-about">
			<div class="about-head">
				<div class="title1">在地臺灣 品牌故事</div>
				<div class="title2">
					匠人 <i class="fa-solid fa-xmark"></i>手藝
					<i class="fa-solid fa-xmark"></i>設計
				</div>
			</div>
			
				<div class="about-left">
					<div class="text">
						深刻的體認到家具對家庭生活的重要性
						，進一步了解原因後，發現家具往往是決定空間氛圍最重要的關鍵，也
						深深的影響著空間裡人與人之間的關係，只用簡單的家具來堆疊空間的氛圍。在這段求學的期間內，他
						們走訪了很多指標性的家具展，這些展覽通常都是國際性的設計盛會，吸引
						著全世界對設計及對生活充滿熱情的人們，去了解國際家具市場的發展走向
						以及設計者對未來生活空間的想像。
					</div>
				</div>
			
			
			<img src="../picture/about2.jpg" alt="" class="img2" />
			<img src="../picture/about1.png" alt="" class="img3" />
		</div>
		<!-- 產品列表 -->
		<div class="product">
			<div class="text">PRODUCT</div>
			<div class="product-box">
				<div class="card">
					<a href="#">
						<img src="../picture/chair1.png" alt="" />
					</a>
				</div>
				<div class="card">
					<a href="">
						<img src="../picture/chair2.png" alt="" />
					</a>
				</div>
				<div class="card">
					<a href="">
						<img src="../picture/chair3.png" alt="" />
					</a>
				</div>
				<div class="card">
					<a href="">
						<img src="../picture/coffee table.png" alt="" />
					</a>
				</div>
				<div class="card">
					<a href="">
						<img src="../picture/sofa.png" alt="" /></div>
					</a>
				<div class="card">
					<a href="">
						<img src="../picture/table1.png" alt="" />
					</a>
				</div>
			</div>
		</div>
		<!-- servise 部分 -->
		<div class="center">
			<div class="title">SERVISE FLOW</div>
			<div class="carousel">
			  	<ul class="scroll">
					<div class="scroll-item-outer">
				  		<div id="slide-1" class="scroll-item">
							<img src="../picture/servise1.png" />
				  		</div>
					</div>
					<div class="scroll-item-outer">
				  		<div id="slide-2" class="scroll-item">
							<img src="../picture/servise2.png" />
				  		</div>
					</div>
					<div class="scroll-item-outer">
				  		<div id="slide-3" class="scroll-item">
							<img src="../picture/servise3.png" alt="Picture 3" />
				  		</div>
					</div>
					<div class="scroll-item-outer">
				  		<div id="slide-4" class="scroll-item">
							<img src="../picture/servise4.png" alt="Picture 4" />
				  		</div>
					</div>
			  	</ul>
			</div>
			<div id="navigate" >
		  		<a href="#slide-1"></a>
				<a href="#slide-2"></a>
		  		<a href="#slide-3"></a>
		 	 	<a href="#slide-4"></a>
			</div>
		</div>
		<!-- footer -->
		<div class="footer">
			<div class="left-box">
				<div class="left-inner">
					<div class="address text-box">
						地址 address : <br>
						新竹縣竹北市成功路八段255號1樓
					</div>
					<div class="oppen-time text-box">
						營業時間 oppening time:  <br>
						周一至周日  10:00 ~ 20:00</div>
					<div class="contact-imformation text-box">
						聯絡資訊 contact information: <br>
						電話: 03-2546326 <br>
						Mail: wed186wf48@gmail.com<br>
						Line: xcpkokpo66
					</div>
				</div>
			</div>
			<div class="right">
				<div class="text1">快速連結</div>
				<div class="text2">
					<div class="link1">
						<a href="">首頁</a>
						<a href="">服務項目</a>
						<a href="">實際案例</a>
						<a href="">常見問題</a>
					</div>
					<div class="link-icon">
						<i class="fa-brands fa-square-facebook" ></i>
						<i class="fa-brands fa-instagram"></i>
						<i class="fa-brands fa-youtube"></i>
					</div>
				</div>

			</div>
		</div>
	</body>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
	</style>
	<script
		src="https://kit.fontawesome.com/7dd394ea53.js"
		crossorigin="anonymous"
	></script>
</html>
